body {
  font-family: roboto;
  font-weight: 300;
  color: darkslategray;
}

.section-containers.image-banner {
  align-items: 'flex-end';
  flex-direction: 'row';
}

ul {
  padding-inline-start: 1em;
}

div.banner-items:first-child, div.banner-items:last-child {
  height: 100vh;
}

div.banner-items.about, div.banner-items.skills {
  height: auto;
}

div.banner-items:nth-child(2n+2) {
  background: #212F3D;
  color: white;
}

div.banner-items:nth-child(2n+1) {
  background: gold;
}

div.banner-items div.section-containers {
  height: inherit;
  justify-content: center;
  align-content: space-evenly;
  align-items: center;
  padding: 5em 2em;
}

div.section-title {
  font-family: 'Rock Salt', cursive;
  font-size: 1.5em;
  text-align: center;
  line-height: 2em;
}

div.social-icons {
  display: flex;
  justify-content: space-between;
}

div.skills-card {
  min-width: 175px;
  height: 175px;
  margin: 10px;
}

/*div.section-containers.skills .card-container,*/ div.section-containers.work .card-container {
  padding: 4em 0 1em;
}
div.section-containers.work .gridItem {
  cursor: pointer;
}

div.section-containers.work .gridItem:hover {
  opacity: 0.5;  
}

div.work-details-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.section-containers.work .work-details-modal {
  display: flex;
  flex-direction: column;
}

.work-details-modal .screen {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.work-details-modal .client, .work-details-modal .project {
  text-align: center;
}

.work-details-modal .screen img {
  width: 80%;
}

.work-details-modal .close-button {
  justify-content: center;
  display: flex;
}

div.section-containers.about-me .text .desc {
  text-align: center;
  margin: 5em 0;
}

div.section-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

div.about-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin-bottom: 3em;
}

div.about-icons span.title {
  font-weight: 400;
  margin: 0.75em 0;
  text-align: center;
}

div.about-icons span.desc {
  font-size: 0.9em;
  color: #ccc;
  font-weight: 100;
  text-align: center;
}

div.about-icons img {
  width: 3em;
}

div.charts {
  display: flex;
  flex-wrap: wrap;
  margin: 5em 0;
}

div.skills div.tools {
  margin: 2em 0;
}

div.skills img.logo {
  width: 40px;
  margin: 1px 4px;
}

div.skills img.logo.long {
  width: 100px;
}

div.skills .logo-container {
  text-align: center;
  padding: 1em 0;
  background: white;
  margin-top: 10px;
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.skills div.charts {
  justify-content: center;
}
